:root{

}

body{

}

.main_section{
    padding: 50px 100px;

}


.hidden{
    visibility: hidden;
}

.cards{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    border: 1px solid black;
}

.card{
    border: 1px solid black;
    background-color: dodgerblue;
}

.item1{
    grid-row: 2 / 4;
}

.item2{
    grid-row: 1 / 3;
}

.item4{
    grid-row: 2 / 4;
}

.item3{
    grid-row: 3 / 5;
}

@media (max-width: 700px){

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }