@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;

    --grey500: #3b3d4b;
    --grey400: #6a7178;
    --white: #fff;

    --font-family: "Poppins";
}

.global-container{
    max-height: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(232, 232, 232);

    gap: 3rem;
}

.title-top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-family: var(--font-family), sans-serif;
}

.top-title {
    font-weight: 300;
    color: var(--grey400);
}

.top-title2 {
    font-size: 2rem;
    color: var(--grey500);
}

.description {
    max-width: 54ch;
    text-align: center;
    color: var(--grey400);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    flex: 1;
}

.cards-col-1,
.cards-col-2,
.cards-col-3 {
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.card-1 {
    border-top: 6px solid var(--cyan);
}
.card-2 {
    border-top: 6px solid var(--red);
}
.card-3 {
    border-top: 6px solid var(--orange);
}
.card-4 {
    border-top: 6px solid var(--blue);
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3.25rem;
    font-family: var(--font-family), sans-serif;
    border-radius: 0.7rem;
    min-width: 0;

    .card-top {
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            letter-spacing: 0.05rem;
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--grey500);
        }

        p {
            max-width: 30ch;
            color: var(--grey400);
        }
    }

    .card-bottom {
        align-self: self-end;
    }
}

@media (width <= 816px) {
    body {
    }

    .global-container {
        flex-direction: column;
    }

    .top {
        gap: 3px;
    }

    .top-title,
    .top-title2 {
        text-align: center;
        font-size: 24px;
    }
    .cards {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .cards-col-1,
    .cards-col-2,
    .cards-col-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}