:root{
    --bg: #F4D04E;
    --text-main : #111111;
    --description: #6B6B6B;
}

/* general styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}


@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

body{
    background-color: var(--bg);
    font-family: "Figtree", sans-serif;
    overflow-y: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: white;
    max-width: 336px;
    padding: 1.5em;
    border-radius: 1.25em;
    border: 0.0625rem solid var(--text-main);
    box-shadow: 0.3125rem 0.3125rem 0 var(--text-main);
    transition: trasform .2s ease;

    .illustration{
        width: 100%;
        border-radius: 0.625em;
    }

    .learning{
        font-size: 0.875em;
        line-height: 150%;
        font-weight: 800;
        background-color: #F4D04E;
        padding: 0.25em 0.75em;
        border-radius: 0.25em;
        display: inline-block;
        margin: 1.5em 0 0.75em;
    }

    .date{
        font-size: 0.875em;
        line-height: 150%;
        font-weight: 400;
        margin: 0;
    }

    .title_card{
        font-size: 1.5em;
        font-weight: 800;
        line-height: 150%;
        margin: 0.75em 0;
    }

    .title_card:hover{
        color: #F4D04E;
        cursor: pointer;
    }

    .description_card{
        font-size: 1em;
        font-weight: 500;
        line-height: 150%;
        color:var(--description);
        margin: 0;

    }

    .avatar_section{
        margin: 1.5em 0 0;
        display: flex;
        align-items: center;
        gap: 0.75em;


        .avatar{
            width: 2em;
            height: 2em;
        }

        .name_avatar{
            font-size: 0.875em;
            font-weight: 800;
            line-height: 150%;
        }
    }
}

.card:hover{
    transform: scale(1.1);
}






.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}